/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(
    -45deg,
    #0f0f0f,
    #141e30,
    #1c1c1c,
    #243b55
  );
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
  color: white;
  overflow-x: hidden;
}

/* Animated gradient */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Floating Glow Background */

body::before,
body::after {
  content: "";
  position: fixed;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -1;
  opacity: 0.4;
  pointer-events: none;
  animation: floatGlow 20s ease-in-out infinite alternate;
}

body::before {
  background: #4da6ff;
  top: -200px;
  left: -200px;
}

body::after {
  background: #7b61ff;
  bottom: -200px;
  right: -200px;
  animation-delay: 5s;
}

@keyframes floatGlow {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(100px, 50px);
  }
  100% {
    transform: translate(-50px, 100px);
  }
}

* {
  max-width: 100%;
} 